/* -------------------- Font Face -------------------- */

@font-face {
    font-family: 'Homard';
    src: url(../font/Lobster-Regular.ttf);
}
@font-face {
    font-family: "Merryweather";
    src: url(../font/Merriweather-Regular.ttf);
}

/* -------------------- Header -------------------- */
nav{
    position: sticky;
    top: 0px;
    z-index: 2;
}
header{
    
    display: flex;
    height: 400px;
    padding:0;
    margin: 0;
    margin-bottom: 100px;
    position: relative;
}
h1{
    color: palegoldenrod; 
    margin: 0 15px;
    position: absolute;
    right: 0px;
}
header div{    
    flex:5;
    background-image: url(../img/candleroom.jpg);
    background-color: #2f2f2f;
    background-size: cover ;
    background-position: 60% 30% ;
    filter: saturate(0.7);
    margin:0px ;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 45px;
    font-family: 'Homard';
}
nav ul{
    display: flex;
    background-color: #ffffff;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
nav li{

    display: flex;
    align-items: center;
}
nav ul li a{
    color:#2a2a2a;
    font-size: 25px;
    display: inline-block;
    padding: 10px;
    text-align: center;
}
nav ul li a:hover{
    color:rgb(184, 33, 33);
    border-bottom:1px solid rgb(184, 33, 33);
}
.icon{
    display: flex;
    justify-content: right;
    width: 20px;
    text-align: center;
}
.logonavbar{
    margin-left: 50px;
    margin-right: 10px;
    justify-content: left;
    width: 15%;
}
.active{
    color:rgb(184, 33, 33);
    border-bottom:1px solid rgb(184, 33, 33);
}
.button {
    font-family: 'Homard';
    margin: 0;
    padding: 0;
    margin-right: 30px;
}
#minilogo{
    color : rgb(219, 131, 145); 
    font-family: "Homard";
    font-size: 45px ;
}
#logo{
    width: 15%;
}
/* -------------------- Footer -------------------- */

footer:not(h4){
    background-color: #050709;
    color: #6c737d;
    font-size: 16px;
    
}
footer section:first-child{
    padding-top: 70px;
    display: flex;

}
footer section:last-child{
    display: flex;
    width: 100%;
    border-top: 1px #6c737d solid;
}
footer ul{
    padding: 0;
}
footer li{
    margin-bottom: 15px;
}
footer a{
    color :#6c737d;
}
footer a:hover{
    color: palegoldenrod;
}
footer section:first-child div {
    border-right: 0.5px #6c737d solid;
    text-align: center;
    box-sizing: border-box;
}
footer section div:last-child{
    border: none;
}
#copyright{
    text-align: right;
}

/* -------------------- Mise en page général -------------------- */
body{
    margin:0px;
    padding: 0;
    background-color: #efefefef;
    font-family: "Merryweather";
}
::selection{
    color: white;
    background-color: #050709;
}
h2{
    text-align: center;
    font-size: 35px;
    font-family:'Merryweather';
    margin-bottom: 100px;
}
li{
    list-style: none;
    text-align: center;
}
h4{
    color: #eaeaec;
    text-align: center;
}
a{
    text-decoration: none;
}

sup{
    font-size: 10px;
    color: red;
}
.vide{
    width: 850px;
}

.videverti{
    min-height:35px;
    width: 100%;
}
.videhori{
    min-width:35px;
}
.container-fluid{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-bottom: 20px;
    justify-content: center;
}
/* -------------------- Page Accueil -------------------- */
/* ------- Catalogue */
section article{
    height: 280px;
    position: relative;
}

section article{
    background-image: url(../img/chandelles_categories_bougie.jpg);
    background-repeat: no-repeat;
    background-position: 40%;
    background-size: cover;
    opacity: 1;
}
section article:hover{
    opacity: 0.9;
} 
section article:hover  h3{
    transform: translateY(-30px);
} 
section article:nth-child(3){
    background-image: url(../img/chandelles_categories_fondant.jpg);
    background-size: cover;
    background-position: 40%;
}
section article:nth-child(5){
    background-image: url(../img/chandelles_categories_poudre.jpg);
    background-size: cover;
    background-position: 40%;
}
section article:nth-child(7){
    background-image: url(../img/chandelles_categories_accessoires.jpg);
    background-size: cover;
    background-position: 50%;
}
/* ------- Punchline */

article h3{
    position: absolute;
    right: 80px;
    bottom: 15px;
    font-family: "Merryweather";
    font-size: 25px;
    color: #efefefef;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.45);
    text-align: left;
    transition: transform 0.5s;
}
#punchline{
    margin-top: 40px;
    background-color: #a8cdcf ;
    height: 500px;
    padding-top: 15px;  
}
#punchline div{
    font-family: "Merryweather";
    padding-top: 70px;  
}
#punchline div:first-child{
    height: 100%;
    background-size: cover;
    background-position: 50%;
    background-image: url(../img/bougietest.png);
}

#punchline div h3{
    font-size: 60px;
}
#punchline div p:last-child{
    color: lightslategray;

}
/* -------------------- Boutique -------------------- */
.achat{
    color:white;
    background-color: #a8977b;
    border: none;
    padding: 5px;
}
.achat:hover{
    background-color: #7f715C;
}
#boutique{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
}
#boutique li{
    margin-bottom: 40px;;
}
#boutique li a{
    color: #2a2a2a;
    
}


#boutique li a div{
    width: 300px;
    height: 300px;
}
#boutique li a:hover{
    color: #7f715C;
}
/* -------------------- Forms -------------------- */
form{
    width: 100%;
}
form div{
    flex: 1;
}
form div label{
    padding: 5px 0 0 8px;
}
form div input{
    box-sizing: border-box;
    width: 100%;
    padding: 0px;
}
form div h3{
    margin: 0 0 40px 40px;
}

form div p{
    font-size: 18px;
    font-weight:bold;
    padding: 0 20px;
}
form div .col-lg-5{
    background-color: #bdcce7;
    border-radius: 10px;
    padding: 5px 0 15px;
    margin:30px 0;
    height: 25px;
}
#blockform{
    width: 40%;
    border-radius: 15px;
    border: 1px #9ea9bd solid;
    background-color: #e2eaec;
    
    display: flex;
    justify-content: center;
    margin: 80px auto ;
}
/* -------------------- Page d'article -------------------- */


#info{
    background: none;
    width: 90%;
    min-height: 600px;
    margin: auto;
}
#detail{
    width: 90%;
    margin: auto;
}

#stock{
    font-size: 18px;
    color: green;
    margin-bottom: 15px;
}
#stock:hover{
    text-decoration: underline;
}
#detail p{
    margin: 24px;
    color: #7f715C;
}
#detail li img {
    width: 80%;
    
}
#info p:nth-child(2){
    font-size: 20px;
    font-weight: 600;
}
#info p:nth-child(3){
    color:#6c737d;
    margin: 50px 0px;
}
#info p:nth-child(5){
    margin: 30px 0px;
}
#info div:nth-child(1){
    text-align: center;
}
#info span{
    font-size: 13px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 700;
    margin: 50px 0px;
}
#info div img{
    width: 500px;
}
#info div h2{
    text-align: left;
    margin-bottom: 50px;
}
#info p a:last-of-type{
    color: #848689;
    font-size: 13px;
}
#detail li a{
    color: #2a2a2a;
    
}

/* -------------------- Media-Queries -------------------- */

@media (max-width :700px){
    footer section:first-child div {
        border-right: none;
    }
    nav ul li{
        width:100px ;
    }
    nav ul li a{
        padding: 0px;
    }
    .videverti,.vide {
        display: none;
    }
    #minilogo{
        display: none;
    }
    #blockform{
        width: 100%;
        justify-content: center;
    }
    #blockform div{

    }
}



















